@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Futura";
		font-style: normal;
		font-weight: 300;
		font-display: swap;
		src: url("/fonts/Futura-Light.ttf") format("truetype");
	}
	@font-face {
		font-family: "Futura";
		font-style: normal;
		font-weight: 500;
		font-display: swap;
		src: url("/fonts/Futura-Medium.otf") format("opentype");
	}
	@font-face {
		font-family: "Futura";
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url("/fonts/Futura-Bold.otf") format("opentype");
	}
}

@layer components {
  .layout {
    @apply mx-auto max-w-7xl px-2 sm:px-6 lg:px-8
  }
}
